<html>

<head>
	<title>{{className}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
</head>

<body>
	<div class="bg">
		<div class="header">
			<div class="header-text">{{className}}</div>
		</div>

		<div class="class-container">

			<button type="submit" name="class-button" class="class">

				<div class="class-name">
					Textbooks <img src="../images/arrow.png" class="arrow-class">
				</div>

			</button>

			<button type="submit" name="class-button" class="class">

				<div class="class-name">
					Class Notes <img src="../images/arrow.png" class="arrow-class">
				</div>
			</button>

			<button type="submit" name="class-button" class="class">

				<div class="class-name">
					Previous Exams <img src="../images/arrow.png" class="arrow-class">
				</div>
			</button>

			<button type="submit" name="class-button" class="class">

				<div class="class-name">
					Class Members <img src="../images/arrow.png" class="arrow-class">
				</div>
			</button>

		</div>

	</div>


	<div class="footer">
		<div class="footer-buttons">
			<a href="../../search/">
				<button type="submit" name="search" class="footer-image-search">
					<img src="../images/search_classes_resize.png">
				</button>
			</a>

			<a href="/myClasses">
				<button type="submit" name="classes" class="footer-image-classes">
					<img src="../images/my_classes_resize.png">
				</button>
			</a>

			<a href="../../profile/">
				<button type="submit" name="profile" class="footer-image-profile">
					<img src="../images/my_profile_resize.png">
				</button>
			</a>
		</div>
	</div>
	</div>

	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/home.js"></script>
</body>

</html>