<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
		integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

	{{!-- <link href="css/style.css" rel="stylesheet"> --}}

	{{!-- CSS --}}
	<link href="/css/newStyle.css" rel="stylesheet">

	{{!-- Font Awesome --}}
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	{{!-- Google Fonts (Roboto) --}}
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">
		<header class="app-header">
			<h3>Login</h3>
		</header>
		<div class="content centered">
			<div class="centered-inner">
				<form class="login-form">
					<label for="fname">Email:</label><br>
					<input type="text" id="fname" name="fname" class="form-item"><br>
					<label for="lname">Password:</label><br>
					<input type="password" id="lname" name="lname" class="form-item">
				</form>

				<br>

				<a href="/myClasses">
					<div class="card card-neutral mb-2">
						<div class="card-block profile-button">
							<div>
								Login
							</div>
							{{!-- <i class="fa fa-chevron-right"></i> --}}
						</div>
					</div>
				</a>

				<a href="/myClasses">
					<div class="card card-neutral mb-2">
						<div class="card-block profile-button">
							<div>
								Sign Up
							</div>
							{{!-- <i class="fa fa-chevron-right"></i> --}}
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/home.js"></script>
</body>

</html>