<html>

<head>
	<title>My Classes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="bg">
		<div class="header">
			<div class="header-text">Login</div>
		</div>

		<div class="class-container middle">

			<form class="login-form">
				<label for="fname">Email:</label><br>
				<input type="text" id="fname" name="fname" class="form-item"><br>
				<label for="lname">Password:</label><br>
				<input type="password" id="lname" name="lname" class="form-item">
			</form>

			<div class="login-buttons">
				<a href="myClasses">
					<button type="submit" name="class-button" class="login-button">
						<div class="form-text">
							Login
						</div>
					</button>
				</a>

				<a href="myClasses">
					<button type="submit" name="class-button" class="login-button">
						<div class="form-text">
							Sign Up
						</div>
					</button>
				</a>
			</div>
		</div>

	</div>
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/home.js"></script>
</body>

</html>